@import "vars";


/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1910px) {
  .chart_wr .canvas_wr {
    width: 636px;
  }


  .main_content {
    width: 100%;
    padding-left: 386px;
    padding-right: 20px;
  }
  .farm_item_title {

    width: 350px;
  }
  .farm_item_inform {

    width: calc(100% - 350px);
  }
}
@media only screen and (max-width: 1350px) {
  .chart_wr .canvas_wr {
    width: 436px;
  }


  .main_content {
    width: 100%;
    padding-left: 366px;
    padding-right: 20px;
  }
  #cd-lateral-nav {
    position: fixed;
    left: 0;
    top: 0;
    visibility: visible;
    z-index: 21;
  }
  #cd-menu-trigger {

    z-index: 21;
  }
}

@media only screen and (max-width: 1200px) {
  #cd-lateral-nav {
    visibility: hidden;
    transform: translateX(-400px);
  }
  .main_content {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
  }
  #cd-menu-trigger{
    display: block;
  }
  #cd-lateral-nav .main_menu_mob_wr .lk_link {
    margin-top: 50px;
  }
  .main_sitebar {
    padding-left: 0px;
    padding-top: 80px;
  }
  .logo {
    font-size: 90px;
    margin-left: 0;
    text-align: center;
    width: 100%;
    margin-top: -52px;
  }
  #cd-lateral-nav {

    width: 280px;
  }
  #content input{
    border: #fff 2px solid;
    outline: 0;
  }
  #content .search:before {

    background-color: #fff;
  }
  #content {
    position: relative;
    height: 50px;
    width: calc(100% - 104px);
    float: left;
  }
  #content input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
  }
  .chart_wr .canvas_wr {
    width: 100%;
    padding: 15px;
  }

  #content .search:before {
    width: 10px;
    height: 2px;
    margin-top: 13px;
    margin-left: 4px;

  }
  #content .search.close:before {
    width: 10px;
    height: 2px;
    margin-top: 13px;
    margin-left: 4px;

  }
  .control {
    position: relative;
    z-index: 100;
    display: inline-block;
    float: right;
  }
  #content .search.close:before {
    width: 27px;
    height: 1px;
    margin-top: 0px;
    margin-left: -13px;

  }

  .search-input {

    z-index: 101;
  }
  .logo_mob {
    display: block;
    position: relative;
    width: 34px;
    margin-top: 15px;
    margin-left: 22px;
    float: left;
    margin-bottom: 20px;
  }

  .main_content_descr span {

    top: 0;
    font-weight: 300;
    margin-bottom: 10px;
  }
  body.shadow:before {

    background-color: rgb(22, 31, 47);
    z-index: 20;
  }
  .chart_inform {

    margin-left: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-start;

    flex-direction: row;
    height: auto;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .chart_inform p{
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
  //.tabs {
  //
  //  display: flex;
  //  overflow-x: auto;
  //}
  //.tabs li {
  //
  //  margin-bottom: 15px;
  //  margin-right: 34px;
  //}


  #content .square {

    transform: translate(-7%,-50%);
  }
  body.shadow {
    position: fixed;
    z-index: 20;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
  }
  #content .search {

    transform: translate(-53px,-50%);
  }
  #content input {

    transform: translate(-32px,-47%);

  }
  .user_name>span {


    margin-bottom: 0!important;
    margin-top: 15px;
  }
  .farm_item_title {

    width: 100%;
  }
  .farm_item_title a.add {
    font-weight: 300;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
  }
  .farm_item_inform {

    width: 100%;
  }
  .flex_wr {

    flex-direction: column;
  }
  .chart_inform p i {
    min-width: auto;
    display: inline-block;
    font-style: normal;
    margin-right: 12px;
  }
  .control .btn-material {
    position: absolute;
    top: -3px;
    width: 50px;
    height: 50px;
    right: 60px;
  }
  .control .icon-material-search {
    color: #fff;
    position: absolute;
    top: 9px;
    right: 70px;
  }
  .icon-close img {
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  .icon-close {

    top: 26px;
    right: 81px;
    width: 30px;
    display: none;
    height: 30px;
  }
  .main_content_descr h1.farm_title {
    color: #ffffff;
    font-weight: 200;
    font-size: 53px;
    margin-bottom: 38px;
    line-height: 21px;
    display: inline-block;
    width: 100%;
    margin-top: 41px;
  }
  body.search-active {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }





}

@media only screen and (max-width: 767px) {

  .main_content_descr h1 {
    color: #fff;
    font-weight: 200;
    font-size: 33px;
    margin-top: 0;
    margin-bottom: 43px;
    line-height: 22px;
  }
  .tabs a {
    display: block;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 200;
    line-height: 20px;
    color: #96a1b0;
  }
  .farm_item {

    padding: 20px 0;
    &:hover{
      background-color: transparent;
    }
  }
  #content .square {

    transform: translate(29px,-47%);
    transition: width .2s ease ,border-radius .2s ease-in-out,padding .2s,-webkit-border-radius .1s ease-in-out;
    height: 75px;
    width: 100%;
  }
  #content{
    position: relative;
    z-index: 15;
  }
  #content .search.close {

    transform: translate(-17%,-50%);
    transition: .3s ease;

    transition-delay: 0s;
  }

  #content input {
    transition: width .0s ease-in-out,padding .0s,-webkit-border-radius .1s ease-in-out;

  }
  #content.active {
    position: relative;
    height: 50px;
    width: -webkit-calc(100% - 104px);
    width: calc(100% - 86px);
    float: left;
    z-index: 22;
  }
  #cd-menu-trigger {
    right: 18px;
  }
  .chart_inform p {

    margin-bottom: 30px;
    line-height: 30px;
  }
  #cd-lateral-nav {
    position: fixed;
    left: 0;
    top: 0;
    visibility: visible;
    z-index: 21;
  }
  #content {
    position: relative;
    height: 50px;
    width: -webkit-calc(100% - 104px);
    width: calc(100% - 86px);
    float: left;
  }
  .tabs li {
    float: left;
    margin-right: 30px;
    position: relative;
    top: 1px;
  }

  .login_page .login_top_logo {
    position: relative;
    width: 55px;
    top: inherit;
    margin-top: 20px;
    margin-bottom: 40px;

  }
  .main_content_descr h1.farm_title {
    color: #333c4c;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 53px;
  }


  .login_page {

    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 90px;
  }
  .input_checkbox_wr {

    font-size: 13px;
    a{
      font-size: 13px;
      height: 19px;
      border-bottom: 1px solid rgba(150,162,176,.54);
      position: relative;
      top: -1px;
    }
  }
  .user_name {

    padding-bottom: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: -24px;
  }
  .user_name>span {
    font-size: 30px;

    margin-right: 0;
    margin-bottom: 10px !important;
  }
  .user_name a {

    margin-left: 5px;
  }
  .button {
    color: #272d3b;

    font-size: 22px;
  }
  .farm_item_title a.name {
    font-size: 30px;

    margin-bottom: 10px;
  }
  .farm_item_inform ul li {

    font-size: 16px;
  }
  .jq-checkbox.checked .jq-checkbox__div {
    -webkit-background-size: contain;
    background-size: 12px;
    margin: 0;
  }
  .search-input {
    height: 80px;
    position: absolute;
    top: 102px;
    left: 15px;
    margin-top: 0;


    width: calc(100% - 30px);

  }
  .search-input input {
    color: #fff;
    font-size: 25px;

    line-height: 86px;
  }
  .control {

    position: relative;
    left: 17px;
  }
  .icon-close {

    top: 15px;
    right: 15px;

  }
  .shadow #cd-menu-trigger {

    position: fixed;
    right: 25px;
  }
  .chart_inform p span {
    font-size: 32px;

  }
  .chart_inform p i {

    margin-top: 1px;
  }

}

@media only screen and (max-width: 400px) {
  .chart_wr .canvas_wr {
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
}
@media only screen and (max-width: 350px) {
  #cd-lateral-nav {
    width: 263px;
  }
  #cd-lateral-nav .main_menu_mob_wr a {
    color: #96a1b0;
    font-family: Roboto;
    font-size: 16px;
  }
}