@import "vars";


/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1800px) {
  .hotel_wr ,.details_place,.all_place,.menu,.details_place.map ,.all_place.map{
    width: 100%;
    padding-bottom: 40px;
    height: auto;

  }
  .weather_item {
    width: 132px;
    height: 100px;
    padding: 17px 18px 10px;
  }

  .page{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu.fitnes{
    width: 100%;
  }

}
@media only screen and (max-width: 1279px) {
  .weather_item{
    display: none;
  }
}


