@import "vars";

@import "libs";

::placeholder {
	color: #96a2b0;
}

::selection {
	background-color: #00b3ee;
	color: #fff;
}


body, html {
	height: 100%;
}
*{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	
	overflow-x: hidden;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	color: #4b525d;
	input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;

	transition: all 0.2s ease;
	outline: none;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	outline: none !important;
	cursor: pointer;
	&:hover, &:active, &:focus {
		text-decoration: none;

		transition: all 0.3s ease;
		outline: none;
		border: none;
	}
}

button{
	outline: none!important;
	transition: all 0.3s ease;
}
.text-center {
	text-align: center;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
h2{
	color: #30353d;

	font-size: 28px;
	font-weight: 500;
	line-height: 32px;
	margin-bottom: 20px;
}
.page{

}
.main_content{
	width: 100%;
	padding-left: 400px;
	padding-top: 55px;
	padding-right: 70px;

}

.page{
	display: flex;

}

.button_wr{
	display: flex;
	margin-top: 20px;

}
.button_blue{
	height: 50px;
	box-shadow: 0 1px 0 rgba(74, 155, 255, 0.6);
	border-radius: 25px;
	background-color: #2174fe;
	padding: 0 20px;
	font-size: 16px;
	font-weight: 700;
	line-height: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-right: 20px;
	transition: transform 0.2s ease-in-out;
	i{
		margin-right: 10px;
	}
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		transform: scale(0.95);
		color: #fff;
	}
}

.button_yelow{
	height: 50px;
	box-shadow: 0 1px 0 rgba(254, 243, 0, 0.39);
	border-radius: 25px;
	background-color: #fef300;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 700;
	line-height: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
	color: #30353d;
	display: inline-block;

	transition: transform 0.2s ease-in-out;
	i{
		margin-right: 6px;
		position: relative;
		top: -2px;
	}

	&:hover{
		transform: scale(0.95);
		color: #30353d;

	}
}

@import "header";
@import "page_1";
@import "media"; // Always at the end
