<header>
    <div class="container">
        <div class="weather_block">
            <div class="weather_city">
                <img src="../../img/voroneg.png" alt="">  Воронеж
            </div>
            <ul>
                <li class="weather_item active">
                    <p>пн, 23 апр.</p>
                    <span>сегодня</span>
                    <p>+ 4 °C <i><img src="../../img/rain.png" alt=""></i></p>
                </li>
                <li class="weather_item">
                    <p>вт, 24 апр.</p>
                    <span>завтра</span>
                    <p>+ 4 °C <i><img src="../../img/sun.png" alt=""></i></p>
                </li>

                <li class="weather_item">
                    <p>ср, 25 апр.</p>
                    <span>послезавтра</span>
                    <p>+ 4 °C <i><img src="../../img/day.png" alt=""></i></p>
                </li>
            </ul>
        </div>

        <div class='control'>
            <div class='btn-material'></div>
            <i class='material-icons icon-material-search'><img src="img/sersch.png" alt=""></i>
        </div>
        <i class='icon-close material-icons'><img src="img/cancel.svg" alt=""></i>
        <div class='search-input'>
            <input class='input-search' placeholder='Поиск' type='text'>
        </div>
    </div>
</header>