<div class="hotel_wr">
    <div class="hotel_top">
        <a href="#" class="hotel_logo">
            <img src="img/1/hotel_logo.png" alt="">
        </a>
        <img src="img/1/capcha.png" alt="">
        <a href="#" class="button_yelow"> <i><img src="../../img/1/star.png" alt=""></i>Оценка сервисов отеля</a>
    </div>


    <h2>Добро пожаловать в City Park INN!</h2>
    <p>Расположенный в культурном, деловом и историческом центре Воронежа, наш отель является не только идеальным местом для бизнес-туристов, но и отличной отправной точкой пеших прогулок по главным культурным и историческим достопримечательностям.</p>
    <p>Индивидуальный подход, радушие персонала и исключительная конфиденциальность сделает Ваше проживание в City Park INN безопасным, спокойным и приятным.</p>
    <div class="hotel_dost">
        <span>
            К Вашим услугам: 
        </span>
        <ul>
            <li>бесплатный Wi-Fi </li>
            <li>бесплатная парковка</li>
            <li>услуги прачечной</li>
            <li>доставка еды в номера</li>
            <li>услуги трансфера</li>
            <li>ресторан</li>
            <li>лобби-бар</li>
            <li>конференц-услуги</li>
            <li>фитнесс-центр</li>
        </ul>
    </div>
    <p><b>Мы приложим максимум усилий, чтобы сделать Ваше пребывание комфортным и незабываемым!</b></p>
    <div class="button_wr">
        <a href="#" class="button_blue"><i><img src="img/1/but_1.png" alt=""></i> Ресторан</a>
        <a href="#" class="button_blue"><i><img src="img/1/but_2.png" alt=""></i> Фитнес-центр</a>
        <a href="#" class="button_blue"><i><img src="img/1/but_3.png" alt=""></i> Конференц-центр</a>
    </div>
</div>